.header_content {
    display: flex;
}

.header_ttl {
    margin: 20px auto 0 30px;
    font-size: 30px;
    color: rgb(12, 34, 121);
}

.header_nav {
    display: flex;
    margin-top: 15px;
}

.nav {
    margin: 30px;
    text-decoration: none;
    color: rgb(12, 34, 121);
    font-weight: bold;
}

.main {
    width: 100%;
}

.main_ttl {
    font-size: 80px;
    position: absolute;
    top: 430px;
}

.background {
    width: 70vw;
    height: 200px;
    background-color: #0c2279;
    position: absolute;
    top: 520px;
}

.main_img {
    position: absolute;
    width: 50vw;
    height: 70vh;
    right: 0px;
    bottom: 50px;
}

.main_img img {
    width: 100%;
}